# Vol 0.1.0 LSTM model

In [9]:
import pandas as pd

In [31]:
match_data = pd.read_csv('../ref/Top_1000_teams_matches.csv', index_col=0)
heroes_id = pd.read_csv('../ref/heroes_id.csv', index_col=0, header=None)
teams_id = pd.read_csv('../ref/teams_id.csv', index_col=0, header=None)
# Shuffle the match data
match_data = match_data.sample(frac=1, random_state=101).reset_index(drop=True)

In [25]:
match_data.head()

,Radiant_team_id,Radiant_team_rating,Dire_team_id,Dire_team_rating,Radiant_hero1,Radiant_hero2,Radiant_hero3,Radiant_hero4,Radiant_hero5,Dire_hero1,Dire_hero2,Dire_hero3,Dire_hero4,Dire_hero5,Radiant_win,Radiant_fb,Radiant_10kill,start_time
0,3331948,1203.45,3325252,1000.00,97,8,30,62,65,86,2,110,18,74,True,True,True,1489206014
1,111474,1084.27,2006913,1291.81,69,31,39,26,73,91,19,3,28,78,False,True,True,1444935417
2,5326717,1035.27,4425117,1073.52,57,86,3,8,11,19,78,87,39,88,False,True,False,1521978605
3,2202484,1000.00,3332295,1215.38,57,48,3,51,47,62,86,108,70,35,False,True,False,1481731068
4,2780911,1181.10,3672381,1000.00,83,104,112,1,47,16,5,70,55,74,True,True,True,1494158848

In [26]:
y = match_data.iloc[:, -4:-1]
y.head()

   Radiant_win  Radiant_fb  Radiant_10kill
0         True        True            True
1        False        True            True
2        False        True           False
3        False        True           False
4         True        True            True

In [27]:
X = match_data.drop(['Radiant_win', 'Radiant_fb', 'Radiant_10kill'], axis=1)
X.head()

,Radiant_team_id,Radiant_team_rating,Dire_team_id,Dire_team_rating,Radiant_hero1,Radiant_hero2,Radiant_hero3,Radiant_hero4,Radiant_hero5,Dire_hero1,Dire_hero2,Dire_hero3,Dire_hero4,Dire_hero5,start_time
0,3331948,1203.45,3325252,1000.00,97,8,30,62,65,86,2,110,18,74,1489206014
1,111474,1084.27,2006913,1291.81,69,31,39,26,73,91,19,3,28,78,1444935417
2,5326717,1035.27,4425117,1073.52,57,86,3,8,11,19,78,87,39,88,1521978605
3,2202484,1000.00,3332295,1215.38,57,48,3,51,47,62,86,108,70,35,1481731068
4,2780911,1181.10,3672381,1000.00,83,104,112,1,47,16,5,70,55,74,1494158848